*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

#heading1{
    font-size: 30px;
    font-weight: bold;
}

body{
    background-color: black;
    color: white;
    padding: 50px;
}

#forms{
    font-family:monospace;
    display: flex;
    gap: 30px;
    justify-content:space-between;
    align-items: center;
    font-size: 25px;
    margin:  50px 0px 50px 0px ;

}

.submit{
    background-color: white;
    color: black;
    margin: 10px 30px;
    width:100px;
    height: 40px;
    bottom: 30px;
    top: 50px;
}

.inputfield {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: none;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;   
}

.num{
    margin-left: 3%;
}